#category-box-affix.affix {
position: fixed !important;
top: 55px;
/*width: 15.76%;*/
z-index: 99;
}

#category-box .panel {
padding-left: 15px;
}
#category-box .navbar-toggle {
float: none;
}
#category-box .list-group-item {
border: 0 none;
padding: 0;
margin-bottom: 0;
}
#category-box .list-group-item a {
padding: 10px 15px;
display: block;
border-bottom: 1px solid #eee;
}
#category-box a.list-group-item.active,
#category-box .list-group-item > a.active {
padding-left: 25px;
}
#category-box .list-group .list-group-item .list-group {
margin-bottom: 0;
}
#category-box .list-group .list-group-item .list-group .list-group-item a {
padding-left: 30px;
}
#category-box .list-group .list-group-item .list-group .list-group-item .list-group .list-group-item a {
padding-left: 50px;
}
@media screen and (min-width: 768px) {
#category-box .panel {
padding-left: 0;
}
#category-box .list-group-item {
/*display: block;*/
}
}
#category-box-collapse {
width: 100%;
}