@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Lobster);

@font-face {
    font-family: 'Oxygen-Regular';
    url('../fonts/Oxygen/Oxygen-Regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen-Bold';
    url('../fonts/Oxygen/Oxygen-Bold.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen-Light';
    url('../fonts/Oxygen/Oxygen-Light.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}
